body {
  margin: 0;
  background-color: #fff8dc;
  padding: 1% 0 1% 0;
}

header {
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #c0c0c0;
}

.accordion {
  color: #0000ff;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  max-width: 80%;
  min-height: 100%;
}

.title-Bayan {
  color: #000000;
}

.content {
  margin: 0 auto;
  text-align: center;
}

.content:hover .icon {
  visibility: visible;
  opacity: 1;
}

.wrapper {
  border-bottom: 1px solid #c0c0c0;
  max-width: 100%;
}

.inner {
  display: flex;
  justify-content: space-between;
  padding: 0 2% 0 2%;
  cursor: pointer;
}

.inner:hover + .futurama {
  visibility: visible;
  margin-bottom: 4%;
  width: 30%;
  height: 30%;
}

.wrapper:hover > .inner > .icon {
  transform: rotate(45deg);
}

.content:hover .title-futurama {
  color: black;
}

.title-futurama {
  margin: 0;
  font-weight: 400;
  cursor: pointer;
  text-align: start;
  transition: 0.5s ease-in-out;
}

.icon {
  transition: 0.6 ease-in-out;
  width: 0%;
  height: 0%;
  visibility: hidden;
}

.futurama {
  transition: 1s ease-in-out;
  width: 0%;
  height: 0%;
  visibility: hidden;
  cursor: pointer;
}

.checkbox {
  visibility: hidden;
  opacity: 0;
}

.checkbox:checked ~ .futurama {
  visibility: visible;
  width: 30%;
  height: 30%;
}

.checkbox:checked + .inner > .title-futurama {
  color: #000000;
}

@media (max-width: 768px) {
  .accordion {
    max-width: 80%;
    padding-top: 3%;
  }
  .title-Bayan {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .title-futurama {
    font-size: 1rem;
    font-weight: bold;
  }
  .icon {
    width: 1.4rem;
    height: 1.4rem;
  }
}

@media (min-width: 768px) and (max-width: 1240px) {
  .accordion {
    max-width: 80%;
  }
  .title-Bayan {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .title-futurama {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media (min-width: 1240px) {
  .accordion {
    max-width: 80%;
  }
  .title-Bayan {
    font-size: 1.6rem;
    font-weight: bold;
  }
  .title-futurama {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .icon {
    width: 1.7rem;
    height: 1.7rem;
  }
}
